<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.bit.pro.mappers.itemMapper">
 <!-- home -->
 <select id="selectHome" parameterType="allitemVo" resultType="allitemVo">
	select * from photo join allitem on photo.p_itemnum = allitem.itemnum where photoctg2='thumbnail' and category=#{category} order by itemnum desc limit 0,3;
 </select>
 
 <!-- main -->
 <select id="selectItem" parameterType="allitemVo" resultType="allitemVo">
 	SELECT * FROM PHOTO join allitem on PHOTO.p_itemnum = allitem.itemnum where photoctg2 ='thumbnail' and category=#{category} order by ${itemalign } limit #{startpoint}, #{row}
 </select> 
 
 <select id="totalItem" parameterType="allitemVo" resultType="int">
 	select count(*) from allitem where category=${category};
 </select>
 
 <!-- best -->
 <select id="selectBest" parameterType="allitemVo" resultType="allitemVo">
 	select * from photo join allitem on photo.p_itemnum = allitem.itemnum where photoctg2 ='thumbnail' order by itemsales desc limit #{startpoint}, #{row}
 </select>
 
 <!-- detail -->
 <select id="itemDetail" parameterType="allitemVo" resultType="allitemVo">
 	SELECT * FROM PHOTO join allitem on PHOTO.p_itemnum = allitem.itemnum where itemnum=#{itemNum} and photoctg2 ='thumbnail';
 </select>
 
<select id="detailImg" parameterType="allitemVo" resultType="allitemVo">
	SELECT photopath FROM PHOTO join allitem on PHOTO.p_itemnum = allitem.itemnum where itemnum=#{itemNum} and photoctg2 ='detail';
</select> 

</mapper>