<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.bit.pro.mappers.noticeMapper">
 <!-- notice list -->
 <select id="selectNotice" resultType="com.bit.pro.vo.NoticeVo">
 	SELECT * FROM ( SELECT @ROWNUM:=@ROWNUM+1 AS BBSNUM,A.* FROM(SELECT * FROM NOTICE) A,(SELECT @ROWNUM:=0) B ORDER BY BBSNUM DESC)C LIMIT #{nowPage},#{scale}
 </select>
 <!-- notice 레코드갯수 -->
 <select id="countArticle" resultType="int">
 	SELECT COUNT(*) FROM NOTICE
 </select>
 
 <!-- notice detail -->
 <select id="detailNotice" resultType="com.bit.pro.vo.NoticeVo">
 	SELECT A.* FROM (SELECT @ROWNUM:=@ROWNUM+1 AS BBSNUM,NOTICE.* FROM NOTICE,(SELECT @ROWNUM:=0) B ) A WHERE A.BBSNUM = #{bbsnum};
 </select>
 <!-- detail view+1 -->
 <update id="updateViewCnt">
 	UPDATE NOTICE SET BBSVIEW = BBSVIEW + 1 WHERE BBSSEQ = #{bbsseq}
 </update>
 <!-- notice prev detail -->
 <select id="prevDetailNotice" resultType="com.bit.pro.vo.NoticeVo">
 	SELECT A.* FROM (SELECT @ROWNUM:=@ROWNUM+1 AS BBSNUM,NOTICE.* FROM NOTICE,(SELECT @ROWNUM:=0) B ) A WHERE A.BBSNUM = #{prevbbsseq};
 </select>
 <!-- notice next detail -->
 <select id="nextDetailNotice" resultType="com.bit.pro.vo.NoticeVo">
 	SELECT A.* FROM (SELECT @ROWNUM:=@ROWNUM+1 AS BBSNUM,NOTICE.* FROM NOTICE,(SELECT @ROWNUM:=0) B ) A WHERE A.BBSNUM = #{nextbbsseq};
 </select> 
 
 <!-- notice add -->
 <select id="addNotice" resultType="com.bit.pro.vo.NoticeVo">
 	INSERT INTO NOTICE (BBSSUB,BBSCON,BBSWRITER,BBSDATE) VALUES (#{bbssub},#{bbscon},#{bbswriter},#{bbsdate}) 
 </select>
 
 <!-- notice delete -->
 <delete id="deletephotoFK">
 	DELETE FROM PHOTO WHERE P_BBSSEQ = #{bbsseq}
 </delete>
 <delete id="deleteNotice">
 	DELETE FROM NOTICE WHERE BBSSEQ = #{bbsseq}
 </delete>
 
 <!-- notice update -->
 <update id="updateNotice">
 	UPDATE NOTICE SET BBSSUB = #{bbssub} , BBSCON = #{bbscon} WHERE BBSSEQ = #{bbsseq}
 </update>
</mapper>